.sales_policy {
  margin-top: 12px;
  padding-left: 15px;
  .heading-sales_policy {
    font-family: $roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #1a1a1a;
  }
  .result-sales_policy {
    font-family: $roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #1a1a1a;
  }
  .payment {
    margin-right: 39px;
  }
  .bank {
    margin-right: 43px;
  }
  .support {
    margin-right: 94px;
  }
  .time-support {
    margin-right: 31px;
  }
  .row {
    margin-bottom: 8px;
  }
}
.chinhsachbanhang-partial {
  h2 {
    color: #333132;
  }
}

@media (max-width: 340px) {
  .sales_policy {
    padding-left: 0;
    .payment {
      margin-right: 0;
    }
    .bank {
      margin-right: 0;
    }
    .support {
      margin-right: 0;
    }
    .time-support {
      margin-right: 0;
    }

    .row {
      justify-content: space-between;
      margin-right: 0;
      margin-left: 0;
    }
  }
}
