/*chi tiet du an*/
.chitietduan-partial{
    @include flexbox();
    .chitietduan-leftcolumn{
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(space-between);
        width: 645px;
        height: 554px;
        .slick-slide img {
            display: block;
            width: 100%;
        }
        .chitietduan-slider-top{
            .chitietduan-slider-item{
                img{
                    height: 480px;
                }
            }
            .slick-prev{
                display: none!important;
            }
            .slick-next{
                right: 3%;
                background-color: #000000;
                opacity: 0.3;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                z-index: 9;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url(../images/chitietduan/VectorRight.png);
                top: 54%;
                visibility: hidden;
            }
        }
        .chitietduan-slider-bot{
            @include flexbox();
            @include justify-content(space-between);
        }
        .chitietduan-slider-bottom{
            padding-bottom: 0;
            padding-left: 17px;
            width: 432px;
            height: 74px;
            .slick-list{
                height: 120px;
            }
            .slick-slide{
                margin: 5px 5px 0px 0px;
            }
            img{
                height: 69px;
                width: 100px;
            }
        }
        .chitietduan-button{
            @include flexbox();
            width: 196px;
            padding-top: 5px;
            .chitietduan-btn{
                @include flexbox();
                @include flex-direction(column);
                margin-left: 5px;
                width: 93px;
                height: 69px;
                border: none;
                border-radius: 2px;
                background-color: $main-color;
                a{
                    color: white;
                    margin-left: auto;
                    margin-right: auto;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 130.08%;
                    color: #FFFFFF;
                }
                img{
                    @extend a;
                    padding-top: 18px;
                    // margin-top: auto;
                    // margin-bottom: auto;
                    
                }
            }
        }
        .slick-prev{
            background-color: #333333;
            width: 12px;
            height: 69px;
            z-index: 9;
            background-image: url(../images/chitietduan/VectorLeft.png);
            background-repeat: no-repeat;
            background-position: center;
            left: 0;
            top: 54%;
        }
        .slick-next{
            right: -4%;
            background-color: #333333;
            width: 12px;
            height: 69px;
            z-index: 9;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(../images/chitietduan/VectorRight.png);
            top: 54%;
        }
        .slick-prev:before{
            color: #56C6D0;
            display: none;
        }
        .slick-next::before{
            display: none;
        }
    }
    .chitietduan-rightcolumn{
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(space-around);
        padding-left: 20px;;
        // width: 455px;
        height: 554px;
        @include Responsive(SM){
            width: 100%;
            padding-left: 0px;
            margin-top: 15px;
        }
    }
}

/*chi tiet du an - responsive*/
@include Responsive(SM){
    .chitietduan-partial{
        @include flex-wrap(wrap);
        .chitietduan-leftcolumn{
            width: 100%;
            .chitietduan-slider-top{
                .slick-next{
                    visibility: visible;
                }
            }
            .chitietduan-slider-bot{
                .chitietduan-slider-bottom{
                    display: none;
                }
                .chitietduan-button{
                    @include flexbox();
                    @include justify-content(space-between);
                    width: 100%;
                    margin: 4px 11px;
                    .chitietduan-btn{
                        width: 50%;
                        // height: 38px;
                    }
                }
            }
        }
        .chitietduan-rightcolumn{
            width: 100%;
            .info-department{
                width: 100%;
                border: none;
                .details{
                    .control-buy{
                        .buy-now{
                            width: 100%;
                        }
                        .sign{
                            width: 100%;
                        }
                    }
                }
                .policy-department{
                    .share{
                        visibility: hidden;
                    }
                }
            }
        }
    }
}