/* FORM*/
.container-form{
    margin: 0 2rem;
    box-shadow: 0px 24px 48px rgba(179, 179, 179, 0.35);
    border-radius: 8px;
    padding: 3.5rem 0;
    .form-web{
        form{
            margin-top: 30px;
        }
        width: 50%;
        margin: auto;
        .btn-submit{
            width: 130px;
            height: 45px;
            background: #56C4CF;
            border-radius: 4px;
            color: #fff;
            border: none;
        }
        .form-email{
            width: 67%;
            margin-right: 3%;
        }
        .form-number{
            width: 30%;
        }
    }
    input{
        height: 45px;
    }
}
@media(max-width:768px){
    .container-form {
        .form-web {
            width: 60%;
        }
    }
}
@media(min-width:320px) and (max-width:414px){
    .container-form{
        margin: 0;
    }
    .container-form {
        .form-web {
            width: 90%;
            .form-email {
                width: 100%;
                margin-right: 0;
            }
            .form-number {
                width: 100%;
            }
            .btn-submit{
                width: 100%;
            }
        }
        .d-flex{
            flex-wrap: wrap;
        }
        
    }
} 
    
