/*KHU VUC NOI BAT*/
$boderRadius: 8px;
$boderRadiusTitle: 0px 0px 8px 8px;
.container{
    width: 100%;
    height: 100%;
    .khuVucNoiBat{
        @extend .container;
        @include flexbox();
        @include flex-wrap(wrap);
        @include justify-content(space-between);
            .top{
                @include flexbox();
                @include flex-direction(column); 
                text-align: center;
                height: 10%;
                width: 100%;
                margin-bottom: 30px;
                img{
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 30px;
                }
                h2{
                    @include title_partials();
                }
            }
            .khuVucNoiBat-colLeft{
                @include flexbox();
                @include justify-content(flex-end);
                @include flex-direction(column);   
                background-image: url("../images/khuvucnoibat/image2.png");
                background-repeat: no-repeat;
                background-size: cover;
                width: 49%;
                height: 85%;
                border-radius: $boderRadius;
                @include Responsive(XS) {
                    width: 100%;
                    margin-bottom: 20px;
                } 
                @include Responsive(SM) {
                    width: 100%;
                    margin-bottom: 20px;
                }
                .title{
                    @include flexbox();
                    @include justify-content(space-between);
                    @include align-items(center);
                    background-color: $main-color;
                    border-radius: $boderRadiusTitle;
                    // font{
                    //     family: Roboto;
                    //     style: normal;
                    //     weight: bold;
                    //     size: 16px;
                    // }
                    line-height: 24px;
                    color: $white-color;
                    p{
                        padding: 23px;
                        margin: 0;
                    }
                }
            }
            .khuVucNoiBat-colRight{
                @extend .khuVucNoiBat-colLeft;
                @include justify-content(space-between); 
                background-image: none;
                margin-right:0;
                .rightTop{
                    @extend .khuVucNoiBat-colLeft;
                    @include justify-content(flex-end);
                    background-image: url("../images/khuvucnoibat/image3.png");
                    height: 48.5%;
                    width: 100%;
                    .title{
                        @extend .title;
                    }
                }
                .rightBottom{
                    @extend .khuVucNoiBat-colLeft;
                    @extend .rightTop;
                    @include justify-content(flex-end);
                    background-image: url("../images/khuvucnoibat/image4.png");
                    margin-bottom: 0;
                    .title{
                        @extend .title;
                    }
                }
            }
    }
}