.ground{
    margin-top: 30px;
    margin-bottom: 50px;
    .slick-slide img {
        display: block;
        width: 100%;
    }
    .ground-slider-bottom{
        .slick-list{
            height: 120px;
        }
        .slick-slide{
            margin: 10px;
        }
    }
    .slick-prev{
        background: rgba(245, 245, 245, 0.35);
        width: 50px;
        height: 50px;
        z-index: 9;
        background-image: url(../images/matbangduan/lefy.png);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        left: 1%;
    }
    .slick-next{
       
        right: 1%;
        background: rgba(245, 245, 245, 0.35);
        width: 50px;
        height: 50px;
        z-index: 9;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        background-image: url(../images/matbangduan/Shape.png);
    }
    .slick-prev:before{
        color: #56C6D0;
        display: none;
    }
    .slick-next::before{
        display: none;
    }
}
.tab-item{
    font-family: $roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    padding: 10px 20px;
    color: #7A7A7A;
    border-bottom: 1px solid #EDEDED;
    cursor: pointer;
}
.active-tab{
    color: black;
    font-weight: bold;
    border-bottom: 2px solid #56C4CF;
}
.shark-title{
    align-items: center;
    h2{
        font-family: $roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
    }
}
.shark-content{
    font-family: $roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #323232;
    width: 50%;
    margin: 10px 0;
}
.shark,.developer,.monitoring{
    display: none;
}
.active-item{
    display: block;
}
