.taodonhang{
    font: {
        size: 14px;
        family: $roboto;
    };
    .color-red{
        color: #EF5B40;
    }
    .font-size20{
        font-size: 20px;
    }
    .font-size10{
        font-size: 10px;
    }
    .mb-16px{
        margin-bottom: 16px;
    }
    h5{
        font: {
            family:$roboto_slab;
            style:normal;
            weight:bold;
            size:20px;
        };
        line-height: 40px;
    }
    &-form{
        font-size: 12px;
        max-width: initial;
        padding: 0;
        .ghichu-font-size{
        font-size: 14px;
        }
    }
    &-btn{
        background: #56C4CF;
        border-radius: 2px;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        padding: 14px 25%;
        color: #FFFFFF;
        margin-top: 36px;
    }
    &-col-right{
        .img-w100{
            width: 100%;
        }
        border: 1px solid #BDBDBD;
        border-radius: 8px;

        h4{
            font: {
                family:$roboto_slab;
                style:normal;
                weight:bold;
                size:24px;
            };
            line-height: 32px;
        }
    }
    &-infor{
        padding: 15px;
    }
    #inputSaleCode{
        width: auto;
    }
}
@include Responsive(XS){
    .taodonhang{
        flex-direction: column-reverse !important ;
        .col-XS-12{
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            }
    }
}
