/* Header */
.header {
    &-main-box {
        padding: 23px 0;
        vertical-align: middle;
    }
    &-logo-box {
        
    }
    &-menu-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul {
            margin-bottom: unset;
            li {
                float: left;
                a {
                    padding: 10px 15px;
                    color: $text-color;
                    &:hover {
                        color: $link-color;
                    }
                }
            }
            &.nav-menu {

            }
            &.header-fnc {
                a {
                    color: $main-color;
                    &:hover {
                        color: $main-color;
                        @include text-stroke($main-color, 1px, $white-color);
                    }
                }
            }
        }
    }
}

.header {
    &-bottom-bar {
        background-color: $gray-color;
    }
    &-bottom-box {
        position: relative;
        .bottom-show-menu {
            a {
                color: $text-color;
                &:hover {
                    color: $main-color;
                }
            }
            .icon-dropdown {
                color: $main-color;
            }
        }
    }
    &-search {
        width: 35%;
        form {
            position: relative;
            input {
                width: 100%;
                color: $gray-color;
                height: 45px;
            }
            button {
                position: absolute;
                right: 0;
                top: 0;
                outline: unset;
                background: $main-color;
                border-radius: 5px;
                color: #fff;
                width: 75px;
                height: 45px;
            }
        }
    }
}