.page-link{
    border: none;
    color: black;
}
.page-link:hover {
    color:white;
    text-decoration: none;
    background-color: #56C4CF;
    border-color: #dee2e6;
}
.page-item:first-child{
    background: #333132;
    color: white;
}