// THONG TIN CAN HO
.info-department {
  min-height: 554px;
  background: #ffffff;
  border: 1px solid #bdbdbd;
  border-radius: 8px;

  @media (min-width: 769px) {
    padding-left: 22px !important;
    padding-right: 22px !important;
    padding-top: 10px;

    width: 100%;
    height: 100%;
  }

  @media (min-width: 425px) and (max-width: 768px) {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 17px;
    height: 100%;
  }

  .info-adress {
    margin-top: 17px;
    margin-bottom: 10px;
    margin-left: 17px;
  }
  .adress {
    font-family: $roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #8d8d8d;
    display: inline-block;
  }
  .department-name {
    font-family: $roboto_slab;
    font-style: normal;
    font-weight: bold;
    color: #333132;
    margin-left: 14px;
    margin-bottom: 15px;
    font-size: 24px;

    @media only screen and (max-width: 414px) and (max-width: 850px) and (min-width: 320px) {
      font-size: 18px;
    }
  }
  .price-department {
    display: flex;
    align-items: center;
    margin-left: 15px;
    img {
      margin-right: 10px;
    }

    span {
      font-family: $roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      color: #ef5b40;
      line-height: 24px;
    }

    span.price-department__type {
      font-size: 12px;
      color: #fff;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 41px;
      height: 21px;
      background-color: #ef5b40;
      border-radius: 4px;
      margin-right: 8px;

      @media (min-width: 1200px) {
        font-size: 16px;
        height: unset;
        width: unset;
        line-height: 20px;
        padding: {
          top: 6px;
          left: 8px;
          right: 8px;
          bottom: 4.75px;
        }
      }
    }
  }
  .info-details {
    margin-bottom: 10px;
    margin-top: 20px;

    .d-flex {
      @media (min-width: 1200px) {
        margin-bottom: 10px;
        line-height: 16px;
      }
    }

    span {
      font-family: $roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: #333132;
    }
  }
  .details {
    h5 {
      font-family: $roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      text-transform: uppercase;
      color: #333132;
      margin-top: 18px;
      margin-bottom: 10px;
      line-height: 24px;
    }
    span {
      font-family: $roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: #333132;
    }
    .cl-orange {
      color: #ef5b40;
    }
  }
  .policy-department > div:first-child {
    margin-bottom: 15px;
  }
  .control-buy {
    text-align: center;
    margin-top: 85px;
    margin-bottom: 15px;

    @media (min-width: 426px) and (max-width: 768px) {
      display: flex;
    }
    a {
      @media (min-width: 426px) and (max-width: 768px) {
        width: calc(50% - 10px);
      }

      width: 100%;
      height: 52px;
      display: block;
      padding: 10px 20px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    .buy-now {
      background: #56c4cf;
      border-radius: 2px;
      color: #fff;
      margin-bottom: 15px;

      margin-left: auto;
      margin-right: auto;
      font-weight: bold;
    }
    .sign {
      background: #ffffff;
      border: 1px solid #333132;
      border-radius: 2px;
      color: #333132;
      font-family: $roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .policy-department {
    .share {
      margin-bottom: 15px;
      display: flex;
      justify-content: center;
      .save {
        margin-right: 20px;

        i {
          color: #2d9cdb;
        }
        a {
          color: #333132;
          font-size: 14px;
          line-height: 16px;
          font-style: normal;
          font-weight: 600;
        }
      }
    }
    .sharing {
      margin-bottom: 10px;
      a {
        color: #333132;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
      }
    }
    .policy-sell,
    .calculator {
      a {
        font-family: $roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #0c77c6;
      }
    }
  }
  .mb-10 {
    margin-bottom: 10px;
  }
  .ml-15 {
    margin-left: 15px;
  }
}
.acreage,
.apartment {
  margin-left: 17px;
}
.calculator {
  margin-left: 15px;
}
.policy-sell {
  margin-right: 15px;
}
@media (min-width: 320px) and (max-width: 414px) {
  .info-details > div:nth-child(1) {
    margin-bottom: 10px;
  }
  .details div:first-child {
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .info-department {
    h3.department-name {
      margin-bottom: 15px;
      padding-top: 0 !important;
    }
    & > img:first-child {
      height: 13px;
    }
    .adress {
      font-size: 12px;
      line-height: 1;
      margin-bottom: 10px;
    }

    .info-details {
      margin-top: 15px;
    }
  }
}
