* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: $roboto !important;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote {
  &:before,
  &:after {
    content: "";
    content: none;
  }
}

q {
  &:before,
  &:after {
    content: "";
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:hover {
  text-decoration: none !important;
}

button:focus {
  outline: none;
}

@media (min-width: 320px) and(max-width:768px) {
  .container {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  .container-fluid {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  .row {
    margin-left: -16px;
    margin-right: -16px;
  }
}
.fw-100{
  font-weight: 100 !important;
  font-size: 18px !important;
}
