/*detail project*/
.utilities{
    margin-top: 60px;
}
.table-product{
    margin-top: 60px;
}
.sales_policy{
    margin-top: 30px;
}
.project_classification{
    margin-top: 60px;
}
.top-footer{
    margin-top: 60px;
}
.duantuongtu-partial{
    margin-top: 60px;
}