/*ĐƠN HÀNG PAGE*/
#order-page {
  .pt-16 {
    padding-top: 45px;
  }
  .partner_reti {
    margin-bottom: 30px;
  }
  .space {
    width: 100%;
    max-height: 379px;
  }
  .mb-379 {
    margin-bottom: 379px;
  }

  form {
    .form-group:nth-child(1),
    .form-group:nth-child(6) {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 50px;
        right: 12px;
        background-image: url("../images/Vector (Stroke)-mini.png");
        background-repeat: no-repeat;
        width: 10px;
        height: 6px;
        pointer-events: none;
      }

      select {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
      }
    }
  }
}
#Textarea1 {
  height: 126px;
}
.discount {
  .form-control {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  .no-wrap-ipad {
    flex-wrap: nowrap !important;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .container {
    max-width: unset;
  }
  .wrap-revert {
    flex-wrap: wrap-reverse;
    margin-left: 0;
    margin-right: 0;
  }
  .order {
    margin-top: 40px;
    padding-left: 0;
    padding-right: 0;
  }
  #order-page .mb-379 {
    margin-bottom: 40px;
  }
}
@media (max-width: 414px) {
  .order-page {
    padding: 0 10px;
  }
  .order .confim {
    width: calc(100% - 32px);
  }
}
@media (min-width: 320px) and (max-width: 414px) {
  .info-order-top .img-product {
    width: 100px;
    height: 83px;
  }
  .info-order-bottom {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .info-order-top {
    display: flex;
  }
  .info-order-bottom .text-info-order {
    font-size: 16px;
    line-height: 21px;
  }
  .info-order-bottom .text-adress {
    font-size: 10px;
    padding-top: 0;
  }
  .info-order {
    padding: 16px 8px !important;
    width: 386px;
    margin: auto;
  }
  .info-order-bottom .text-info-order {
    width: 89%;
  }
  #Textarea1 {
    height: 90px;
  }
}

@media (max-width: 375px) {
  .info-order {
    width: 360px;
  }
  .info-order-bottom {
    h3 {
      margin-bottom: 13px;
    }
    .adress {
      display: flex;
      align-items: flex-start;

      img {
        margin-right: 4.75px;
      }
    }
  }
  .deposit .deposit-headings {
    font-size: 16px;
  }
  .deposit .result {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .discount .form-control {
    font-size: 12px;
  }
}
