/* Home Page */
[class*="home-section-"] {
    margin-bottom: 50px;
}
.home-section {
    &-1 {
        margin-bottom: 100px;
    }
    &-5 {
        background-color: #F2F2F2;
        padding: 50px 0;
        .container .viSaoChonReti-row1 {
            margin-top: 0;
        }
    }
    &-7 {
        background-color: #F2F2F2;
        padding: 50px 0;
        margin-bottom: 0;
    }
    &-8 img, &-11 img {
        width: 100%;
    }
    
}
.home-banner-small{
    min-height: 200px;
    background-image: url('../images/banner-small.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    p{
        font-family: $roboto_slab;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        color: #FFFFFF;
        text-align: center;
    }
    .blur{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: .3;
        z-index: 1;
    }
    button{
        border: none;
        background: #56C4CF;
        border-radius: 4px;
        color: white;
        width: 199px;
        height: 40px;
    }
    .info-mobile{
        width: 20%;
        text-align: center;
        margin: auto;
        display: none;
    }
}
.home-banner-big{
    img{
        width: 100%;
    }
}

/* Reposive */
@media (max-width: 850px) {
    [class*="home-section-"] {
        margin-bottom: 40px;
    }
    .home-section {
        &-1 {
            margin-bottom: 24px;
        }
    }
}
@media(min-width:320px) and (max-width:414px){
    .home-banner-small{
        background-size: 100% 100%;
        .info-mobile{
            position: absolute;
            width: 70%;
            text-align: center;
            margin: auto;
            display: block;
            z-index: 2;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }
    .home-section-1{
        margin-bottom: 50px;
    }
}