/*LIST PROJECT*/
#list_project{
    .slide-card-duannoibat{
        margin-top: 30px;
    }
}
#pay-home{
    padding: 35px 0;
    background-color: #F2F2F2;
    margin-bottom: 50px;
}
#form-contact{
    margin-bottom: 50px;
}
#map{
    padding-top: 15px;
}